$green: #41af68;
$orange: #f1861d;
.component-presentor {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .navigation {
        position: fixed;
        bottom: 0;
        height: 40px;
        background-color: rgba(255, 255, 255, .5);
        width: 100vw;
        text-align: center;
        .prev,
        .next {
            position: absolute;
            top: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
        .current {
          line-height: 40px;
        }
    }
}